@import 'components/rscss/rs-icon/iconfont.css';
@import 'components/rscss/colors.scss';

.rs-flex-row {
  display: flex;
  align-items: center;
}
.rs-flex-row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rs-flex-column {
  display: flex;
  flex-direction: column;
}
.rs-flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 隐藏scrollview的滚动条 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

/*一个横线*/
@for $i from 1 through 5 {
  .rs-line-#{$i} {
    height: 1px;
    transform: scaleY(1 / $i);
    background-color: #ddd;
  }
}
// 间隙
@for $i from 1 through 51 {
  .rs-gap-#{$i} {
    height: $i * 2 + rpx;
    background-color: #f7f7f7;
  }
}

// 显示几行
@for $i from 1 through 11 {
  .rs-clamp-#{$i} {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: pre-line;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
  }
}
// 增加点击区域的热点,设置在view上，不能用于image
.rs-click-expand {
  position: relative;
}
.rs-click-expand::before {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

$theme-colors: (
  'white': $white,
  'black': $black,
  'grey': $grey,
  'light': $light,
  'primary': $primary,
  'error': $error,
  'warning': $warning,
  'success': $success,
  'gap': $gap,
  'gd-primary': $gd-primary,
  'gd-primary-column': $gd-primary-column
);

@each $key, $value in $theme-colors {
  .rs-color-#{$key} {
    color: $value;
  }
}

@each $key, $value in $theme-colors {
  .rs-bg-#{$key} {
    background: $value;
  }
}
